html, body {
    margin: 0;
    padding: 0;
    }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url('../img/slide-1960x857-07.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    }

.visual-hidden {
    font-size: 0;
    width: 0;
    height: 0;
    }

.container {
    font-size: 20px;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px 10px #000000c9;
    background-color: #ffffffe5;
    }


/* Форма старта */
.game-heading {
    text-align: center;
    font-size: 25px;
    }

.game-description {
    max-width: 450px;
    text-align: center;
    font-size: 16px;
    margin: 0;
    }

.game-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    }

.game-form__container {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    margin-top: 30px;
    }

.game-form__label {
    position: relative;
    }

.game-form__btn {
    position: absolute;
    width: 41px;
    height: 41px;
    font-size: 36px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: #fff;
    transition: .3s;
    }

.game-form__btn:focus {
    outline: none;
    }

.game-form__btn:hover {
    background-color: #4f7794;
    transition: .3s;
    }

.up-btn {
    right: 0;
    }

.down-btn {
    left: 0;
    }

.game-form__input {
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    background-color: #79a7c9;
    box-shadow: 0 2px 9px 3px #3b5c75b3;
    }

.game-form__input::placeholder {
    color: #fff;
    }

.game-form__submit {
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    background-color: #79a7c9;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 5px 3px #3b5c75b3;
    transition: .3s;
    }

.game-form__submit:hover {
    background-color: #fff;
    box-shadow: 0 5px 7px 5px #3b5c75b3;
    color: #79a7c9;
    transition: .3s;
    }

.game-form__submit:focus {
    outline: none;
    }

.game-form__submit:active {
    box-shadow: 0 1px 5px 3px #3b5c75b3;
    transition: .3s;
    }

/* Game */

.container10 {
    padding: 30px;
    }

.container .timer10 {
    font-size: 35px;
    margin-bottom: 20px;
    }

.card-container .size2 {
    width: 105px;
    height: 150px;
    font-size: 125px;
    }

.card-container .size4 {
    width: 70px;
    height: 100px;
    font-size: 85px;
    }

.card-container .size8{
    width: 33px;
    height: 47px;
    font-size: 26px;
    }

.card-container .size10 {
    width: 30px;
    height: 43px;
    font-size: 20px;
    }

.timer {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
    }

.card-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.card-container__item {
    border-radius: 10px;
    margin: 10px;
    list-style: none;
    width: 50px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 0 5px 3px #00000094;
    transition: .2s;
    perspective: 400px;
    }

.card-container__item:hover {
    box-shadow: 0 0 10px 7px #00000094;
    transition: .2s;
    }

/**/
.card-container__scene {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    transition: .8s;
    transform-style: preserve-3d;
    }

.card-container__front-scene {
    list-style: none;
    position: absolute;
    background-image: url('../img/back_playing_cards.jpg');
    background-size: 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    }

.card-container__back-scene {
    border-radius: 10px;
    list-style: none;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    }

.card-container__item .fliped {
    transform: rotateY(180deg);
    }   

    
.card-container__scene .back6 {
    top: 10%;
    }

.card-container__scene .back8 {
    top: 15%;
    }

.card-container__scene .back10 {
    top: 18%;
    }
    
.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    }


/* Quastion */

.question {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    background-color: #0000008c;
    }

.question__container {
    margin: auto;
    padding: 40px;
    width: 40%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

.question__heading {
    text-align: center;
    font-size: 30px;
    width: 100%;
    }

.question__button {
    padding: 20px 10px;
    }